.call-to-action-link {
  color:#fff;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid#fff;
  border-bottom: 1px solid#fff;

  .fa {
    margin-left: 25px;
  }
}
