.language-container {
  position: relative;
  width: 80px;
  line-height: 56px;
  text-align: center;
  font-weight: 100;
  color: #fff;

  .language-options {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #000;
    z-index: 100;
    display: none;

    .language-item {
      margin: 0;
      line-height: initial;
      padding: 10px 0;
      cursor: default;

      &:hover {
        background-color: #111;
      }
    }
  }

  &:hover {
    > .language-options {
      display: block;
    }

    > .language-selected {
      background-color: #982b45;
    }
  }
}
