.slick-slide {
  position: relative;
  -webkit-transform: translate3d(0,0,0);

  img {
    width: 100%;
  }

  section {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    color: #fff;
    margin: 160px 0 0 120px;

    .title,
    .subtitle {
      margin: 0;
    }

    .title {
      font-size: 4.5rem;
    }

    .subtitle {
      font-size: 1.5rem;
      font-weight: 100;
      margin-bottom: 35px;
    }
  }
}

.slick-dots {
  bottom: 10px;
}
