.institute.article {
  padding: 80px 0;
  color:#fff;
  font-size: 2rem;

  section {
    width: 50%;
  }

  .pull-right {
    z-index: -1;

    img {
      width: 140%;
      float: right;
    }
  }

  .pull-left {
    position: relative;
    padding: 50px 70px;
    margin-top: 80px;
    background-color:rgba(70, 78, 97, 0.93);

    &::before {
      content: '';
      width: 70px;
      height: 4px;
      background-color:#fff;
      display: block;
      position: absolute;
      top: 55px;
    }
  }
}
