header {
  height: 56px;
  width: 100%;
  background-color: #c0392b;
  padding: 0 20px;

  .logo {
    float: left;
    height: 100%;
    line-height: 56px;
    color: white;
    text-decoration: none;
  }

  nav,
  .search-container,
  .language-container {
    float: right;
  }

}
