.article {
  padding: 80px 0;
  color: #666666;
  font-size: 2rem;

  section {
    width: 50%;
  }

  .pull-left {
    position: relative;
    padding: 0 90px;
    margin-top: 140px;

    &::before {
      content: '';
      width: 70px;
      height: 4px;
      background-color: #982b45;
      display: block;
      position: absolute;
      top: -25px;
    }
    
  }


  .pull-right {
    padding: 50px 70px;
    background-color: #fcfcfc;
  }

  .emphasy {
    color: #982b45;
  }

}


