.service-item {

  .title, .subtitle {
    margin: 0;
  }

  .title {
    color: #982b45;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .subtitle {
    color: #666666;
    font-weight: 100;
    font-size: 1.2rem;
  }
}
